/* ===== HEADER ===== */
.navbar {
  padding: 5px;
  border-bottom: 1px solid #e0e0e0;
}

.input-search {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #e0e0e0;
  width: 150px;
  font-size: 14px;
}

.loupe-search {
  background-color: white;
  border: none;
}

.nav-item {
  font-size: 15px;
  text-transform: uppercase;
  margin: 5px;
}

.fa-facebook-f,
.fa-twitter,
.fa-instagram,
.fa-youtube,
.fa-tumblr,
.fa-envelope {
  color: black;
  margin: 5px;
}

.box-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== DANS LE CORPS ===== */

.posts {
  display: flex;
  margin-right: 2%;
  flex-direction: column;
  order: 1;
}

.last-post {
  border: 1px solid #e0e0e0;
  margin-bottom: 2%;
  padding: 0%;
}

.h2-titre-post {
  color: #664d32;
}

.image-post {
  max-width: 350px;
  max-height: 300px;
}

.post-resume {
  justify-content: left;
  align-items: center;
  padding: 2%;
}

.barre-laterale {
  display: flex;
  flex-direction: column;
  order: 2;
}

#index-apropos {
  height: 500px;
  display: flex;
  justify-content: center; /*alignement sur l'axe horizontal*/
  align-items: center; /*alignement sur l'axe vertical*/
  flex-direction: column;
}

/* ===== A PROPOS ===== */

.apropos {
  display: flex;
  flex-direction: row;
}

.image-apropos {
  max-width: 500px;
}

.infos-autrice {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
}

/* ===== ARTICLE ===== */

.article {
  display: flex;
  justify-content: center;
  align-content: center; /*pour aligner tous les items de l'élement entre eux*/
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

.article-head {
  margin-top: 1%;
  max-width: 700px;
}

/* ===== DANS LE FOOTER ===== */

.newsletter {
  display: flex;
  justify-content: center; /*alignement sur l'axe horizontal*/
  align-items: center; /*alignement sur l'axe vertical*/
  flex-wrap: wrap;
  flex-direction: column;
  order: 4;
}

footer {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center; /*alignement sur l'axe horizontal*/
  align-content: center; /*pour aligner tous les items de l'élement entre eux*/
  align-items: center; /*alignement sur l'axe vertical*/
  flex-wrap: wrap;
  flex-direction: column;
  order: 3;
}

.infos-footer {
  display: flex;
  justify-content: center; /*alignement sur l'axe horizontal*/
  align-items: center; /*alignement sur l'axe vertical*/
  flex-wrap: wrap;
  flex-direction: column;
  border-top: 1px solid white;
  order: 5;
}

.footer-text {
  padding: 1%;
  font-size: 14px;
  font-style: italic;
}

/* ===== FORMULAIRES ===== */

.form {
  display: flex;
  justify-content: center; /*alignement sur l'axe horizontal*/
  align-items: center; /*alignement sur l'axe vertical*/
  flex-direction: column;
}

.form-input {
  width: 400px;
  padding: 5px;
  margin: 5px;
}

.form-button {
  width: 400px;
  padding: 10px;
  margin-bottom: 3%;
  margin-top: 3%;
  border: none;
}

/* ===== GENERAL ===== */

.corps {
  display: flex;
  justify-content: center;
  align-content: center; /*pour aligner tous les items de l'élement entre eux*/
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2%;
  padding: 0%;
}

h3 {
  padding-top: 2%;
  padding-bottom: 1%;
  margin-top: 2%;
}

h2 {
  font-size: 20px;
  margin: 2%;
}

h1 {
  font-size: 25px;
  text-transform: uppercase;
  margin: 5%;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: grey;
}

/* ===== CARTE INTERACTIVE ===== */

#fade-background {
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #403834;
  z-index: 900;
}

#modal-location {
  position: fixed;
  box-sizing: border-box;
  /* padding: 40px; */
  /* top: calc(50% - 165px);
  left: calc(50% - 240px);
  width: 480px;
  height: 330px;
  background-color: var(--shell); */
  border-radius: 3px;
  z-index: 999;
}

.map-header {
  border: 1px solid red;
  display: flex;
  padding: 2%;
}

#continent {
  background-image: url("../images/le_continent.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 1200px;
  width: 900px;
  padding: 0px;
  border: 1px solid #e0e0e0;
  position: relative;
}

/* REGIONS */

.maison-hamilcar {
  cursor: pointer;
  padding: 5%;
}

.maison-eristene {
  cursor: pointer;
  padding: 5%;
}

.maison-litreans {
  cursor: pointer;
  padding: 5%;
}

.maison-hafferyn {
  cursor: pointer;
  padding: 5%;
}

.maison-blustrode {
  cursor: pointer;
  padding: 5%;
}

.maison-herjafol {
  cursor: pointer;
  padding: 5%;
}

.area-active {
  height: 1000px;
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: regions-appear;
  animation-duration: 1s;
  opacity: 0.4;
}

/* .area-inactive {
  height: 1000px;
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: regions-disappear;
  animation-duration: 1s;
  opacity: 0;
} */

/* .territoire {
  height: 1000px;
  border: 1px solid red;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
} */

#hamilcar {
  background-image: url("../images/Hamilcar.png");
}

#eristene {
  background-image: url("../images/Eristene.png");
}

#litreans {
  background-image: url("../images/litreans.png");
}

#hafferyn {
  background-image: url("../images/hafferyn.png");
}

#blustrode {
  background-image: url("../images/Blustrode.png");
}

#herjafol {
  background-image: url("../images/herjafol.png");
}

/* CAPITALES */

.capitale {
  font-size: 25px;
  width: 25px;
  border-radius: 30%;
  position: absolute;
  cursor: pointer;
}

.anchoris {
  background-color: #c89560;
  right: 64%;
  top: 86%;
  border-bottom: 2px solid white;
}

/* LORE */
.modal {
  display: none;
}

.close {
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: lightgray;
}

/* ===== KEYFRAMES ===== */
@keyframes regions-appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.4;
  }
}

/* @keyframes regions-disappear {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0;
  }
} */
